@use 'sass:color';

@import 'fonts';

// Set breakpoints here for media queries
$breakpoint-xl: 1200px;
$breakpoint-lg: 1024px;
$breakpoint-md: 992px;
$breakpoint-sm: 600px;

$theme-1: #0864e4;
$theme-2: color.complement($theme-1);
$theme-3: #ac19db;
$theme-4: #ee2ea5;

$font-header: bold 32px/1.1 'Alumni Sans Pinstripe Regular';

:root {
  --bg-1: white;
  --bg-2: lightgrey;
  --font-color: black;
  --font-color-em: #{$theme-1};
  --font-color-link: #{$theme-2};
  --font-header: #{$font-header};
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #121212;
    --bg-2: #545454;
    --font-color: white;
    --font-color-em: #{color.adjust($theme-1, $lightness: 0.5)};
    --font-color-link: #{color.adjust($theme-2, $lightness: 0.5)};
  }
}