@use 'sass:color';

@import 'fonts';

// Set breakpoints here for media queries
$breakpoint-xl: 1200px;
$breakpoint-lg: 1024px;
$breakpoint-md: 992px;
$breakpoint-sm: 600px;

// App colors
$color-cobalt-blue: #0864e4;
$color-sunset-orange: color.complement($color-cobalt-blue);
$color-royal-purple: #ac19db;
$color-bright-pink: #ee2ea5;

// App fonts as fetched from './fonts.scss'
$font-header: bold 32px/1.1 'Alumni Sans Regular';
$font-body: 16px/1.1 'Open Sans Regular';
$font-body-italic: 16px/1.1 'Open Sans Italic';

// Define variables that need to change based on dark/light mode in css or in Vue js so I can use them inside components
// Feels like there should be a better way but it seems not

:root {
  --bg-1: white;
  --bg-2: lightgrey;
  --bg-header : white;
  
  --font-color: black;
  --font-color-em: #{$color-bright-pink};
  --font-color-link: #{$color-cobalt-blue};

  --color-cobalt-blue: #{$color-cobalt-blue};
  --color-sunset-orange: #{$color-sunset-orange};
  --color-royal-purple: #{$color-royal-purple};
  --color-bright-pink: #{$color-bright-pink};
}

// Dark mode overrides
@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #121212;
    --bg-2: #232323;
    --bg-header : black;

    --font-color: white;
    --font-color-em: #{$color-bright-pink};
    --font-color-link: #{color.adjust($color-cobalt-blue, $lightness: 50%)};
  }
}