@use 'sass:color';

@import 'variables';

body {
  margin: 0;
  padding: 0;
  background: var(--bg-1);
  color: var(--font-color);
  font: var(--font-body);

  .main-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: black;
    height: 150px;

    img {
      height: 100%;
    }
  }

}